beautifulsoup4==4.12.3
bs4==0.0.2
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
et-xmlfile==1.1.0
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
moviepy==1.0.3
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.2
Pillow==9.5.0
praw==7.7.1
prawcore==2.4.0
proglog==0.1.10
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1-modules==0.4.0
pyotp==2.9.0
pyparsing==3.1.2
pytz==2024.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
soupsieve==2.5
tqdm==4.66.4
update-checker==0.18.0
uritemplate==4.1.1
urllib3==2.2.1
websocket-client==1.8.0
pytube==15.0.0
